
<ion-view view-title="{{chat.username}}">
    <ion-content>
        <ion-list>
            <ion-item id="messages">
            </ion-item>
        </ion-list>
            
        
    </ion-content>
    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea id="m" ng-model="input.message" value="" placeholder="Send {{chat.username}} a message..."></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''"></button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>