<ion-view view-title="Profile">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">
                Profile Picture
            </div>
            <div class="item item-body">
                <div class="row">
                    <img src="../img/BLANK_PROFILE.png" />
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Name
                <button class="button-small icon ion-edit"></button>
            </div>
            <div class="item item-body">
                <div>
                    Screen Name
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Tag Line
                <button class="button-small icon ion-edit"></button>
            </div>
            <div class="item item-body">
                <div>
                    This is a tagline
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
