<ion-view view-title="Contacts">
  <ion-content>
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" placeholder="Add friends by number" ng-model="friend.phone">
          </label>
          <button class="button button-small button-calm" ng-click="find()">
              Find
          </button>
      </div>
      <ion-list>
          <ion-item class="item-icon-right" ng-repeat="data in friends">
              <h1>{{ data.username }}</h1>
              <p>{{ data.tagline }}</p>
              <i class="icon ion-chevron-left icon-accessory"></i>
              <ion-option-button class="button-positive" ng-click="addChat(addChat(data.idfriends))">Start Chat</ion-option-button>
              <ion-option-button class="button-assertive" ng-click="deleteFriend(remove(data.idfriends))">Delete</ion-option-button>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
